<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nana.sport.dao.AllListDao">
    <select id="selectAll" resultType="AllListVO">
        SELECT * FROM tbl_all_list;
    </select>
    <select id="searchResult" resultType="Long">
        SELECT * FROM tbl_all_list
        WHERE al_seq = #{al_seq}
          and al_sport like CONCAT('%',#{al_sport},'%')
          and al_free like CONCAT('%',#{al_free},'%')
          and al_addr like CONCAT('%',#{al_addr},'%')
        ORDER BY al_seq
    </select>

</mapper>