<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nana.sport.dao.QnADao">
    <select id="selectAll" resultType="QnAVO">
        SELECT *
        FROM tbl_qna ORDER BY qna_date DESC;
    </select>
    <select id="findById" resultType="QnAVO">
        SELECT *
        FROM tbl_qna WHERE qna_seq = #{qna_seq}
    </select>
    <insert id="insert" parameterType="QnAVO">
        INSERT INTO tbl_qna(qna_seq,qna_id,qna_title,qna_name,qna_text,qna_email,qna_date)
        VALUE (#{qna_seq},#{qna_id},#{qna_title},#{qna_name},#{qna_text},#{qna_email},#{qna_date})
    </insert>
    <update id="update" parameterType="QnAVO">
        UPDATE tbl_qna SET qna_title = #{qna_title}, qna_id = #{qna_id},qna_email =#{qna_email},qna_name = #{qna_name}, qna_text = #{qna_text}
        WHERE qna_seq = #{qna_seq}
    </update>
    <delete id="delete" parameterType="Long">
        DELETE FROM tbl_qna WHERE qna_seq = #{qna_seq}
    </delete>

</mapper>